<mat-toolbar color="primary">
    <img src="logo.png" alt="Logo Alianza" class="logo">
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <!-- Menú lateral -->
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item routerLink="/clients">Clients</mat-list-item>
            <mat-list-item routerLink="/clients/history">Client Look History</mat-list-item>
            <mat-list-item routerLink="/emergencypin">Emergency PIN Configuration</mat-list-item>
            <mat-list-item routerLink="/emergencypin/history">Emergency PIN History</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
